{% extends "dashboard/base.html" %}
{% block title %}{% if object %}Edit{% else %}New{% endif %} Connect Group{% endblock %}
{% block dash_content %}
<h2>{% if object %}Edit Connect Group{% else %}New Connect Group{% endif %}</h2>

<form method="post" class="dash-form">
    {% csrf_token %}
    {% for field in form %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    {{ field.errors }}
    {% endfor %}
    <br><br>
    <button type="submit" class="btn-dash">Save</button>
    <a class="btn-dash btn-dash-secondary" href="{% url 'dashboard:group-list' %}">Cancel</a>
</form>
{% endblock %}
